h1{
	text-align: right;
}
h2{
	text-align: right;
}
h3{
	color: black;
}
h4{color: black;

}
h5{
	color: white;
}
body{
	background-image: url(http://www.mulierchile.com/brown-background/brown-background-006.jpg);
	background-size: cover;
}

